{% extends 'kitchenapp/base.html' %}

{% block title %}Expenses Page{% endblock %}

{% block content %}

<div class="text mb-3">
    <h1>Expenses</h1>
</div>

<!-- Date And Search Filter Inputs -->
<div class="d-flex justify-content-end mb-3">
    <label hidden for="expensesTableSearch"></label>
    <input class="form-control search-filter me-2" id="expensesTableSearch" type="text" data-table="expensesTable" placeholder="Search..">
    <div class="me-2">
        <label hidden for="dateFrom" class="form-label"></label>
        <input type="date" id="dateFrom" class="form-control date-filter-from" data-table="expensesTable">
    </div>
    <div>
        <label hidden for="dateTo" class="form-label"></label>
        <input type="date" id="dateTo" class="form-control date-filter-to" data-table="expensesTable">
    </div>
</div>

<!-- Expenses Table -->
<div class="scroll-table">
    <table class="table table-striped table-hover with-date-filter with-search-filter" id="expensesTable" data-table="expensesTable">
        <thead class="table-dark">
        <tr>
            <th>Date</th>
            <th>Paid by</th>
            <th>Cost</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% if expenses %}
        {% for expense in expenses %}
        <tr class="data" data-id="{{ expense.id }}" data-creator="{{ expense.paid_by.id }}" data-modifier="{{ resident.id }}">
            <td class="date">{{ expense.date }}</td>
            <td>{{ expense.paid_by }}</td>
            <td>{{ expense.cost }}</td>
            <td>{{ expense.description }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">No data available</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<!-- Add Expense and Delete buttons -->
<div class="d-flex justify-content-between" style="padding-bottom: 10px;">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#addExpenseCollapse">
        Add expense
    </button>

    <form method="post" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="expense_id_delete" id="hiddenExpenseId">
        <button id="deleteButton" type="submit" class="btn btn-danger" style="display: none;">
            Delete selected
        </button>
    </form>
</div>

<!-- Add Expense Form -->
<div class="collapse" id="addExpenseCollapse" style="padding-bottom: 20px">
    <div class="card card-body bg-light">
        <form method="post">
            {% csrf_token %}
            <div class="row g-3 mb-3">
                <div class="col">
                    <label class="form-label">Date</label>
                    {{ form.date }}
                    {{ form.date.errors }}
                </div>
                <div class="col">
                    <label class="form-label">Cost</label>
                    {{ form.cost }}
                    {{ form.cost.errors }}
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                {{ form.description }}
                {{ form.description.errors }}
            </div>
            {% comment %} {{ form.as_p }} {% endcomment %}
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>

{% load static %}
<script src="{% static 'js/dateFilterScript.js' %}"></script>
<script src="{% static 'js/searchFilterScript.js' %}"></script>
<script src="{% static 'js/expenseScript.js' %}"></script>


{% endblock %}