.sidebar {
    display: block;
    height: 100vh;
    background-color: #eee;
    padding: 10px;
    text-decoration: none;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 200px;
  }

.sidebar li {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }

.sidebar li:hover {
    background-color: #ccc;
  }

.sidebar li.active {
  background-color: #009879;
    color: white;
  }