.debtsContainer {
    overflow: auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75)
}

.modal-content {
    position: absolute;
    background: #fff;
    overflow: auto;
    border-radius: 16px;
    outline: none;
    padding: 20px;
    max-height: 70vh;
    max-width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* mega smart */
}