{% extends 'base.html' %}

{% block title %}Data{% endblock %}

{% block content %}

<div class="text">
    <h1>Data</h1>
</div>

<div class="text">
    <h4>Expenses</h4>
</div>

<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Date</th>
        <th>Paid by</th>
        <th>Cost</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% if expenses %}
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.paid_by }}</td>
            <td>{{ expense.cost }}</td>
            <td>{{ expense.description }}</td>
        </tr>
        {% endfor %}
    {% else %}
    <tr>
        <td colspan="4">No data available</td>
    </tr>
    {% endif %}
    </tbody>
</table>

<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#addExpenseCollapse">
        Add expense
    </button>
</p>

<div class="collapse" id="addExpenseCollapse">
    <div class="card card-body bg-light">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col">
                    <label for="dateInput" class="form-label">Date</label>
                    <input type="date" name="date" class="form-control" id="dateInput">
                </div>
                <div class="col">
                    <label for="costInput" class="form-label">Cost</label>
                    <input type="number" name="cost" class="form-control" id="costInput">
                </div>
            </div>
            <div class="mb-3">
                <label for="descriptionInput" class="form-label">Description</label>
                <input type="text" name="description" class="form-control" id="descriptionInput">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>

<div class="text">
    <h4>Debts</h4>
</div>

<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Date</th>
        <th>Resident</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% if debts %}
    {% for debt in debts %}
    <tr>
        <td>{{ debt.expense.date }}</td>
        <td>{{ debt.resident }}</td>
        <td>{{ debt.amount }}</td>
        <td>{{ debt.expense.description }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4">No data available</td>
    </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}