{% extends 'base.html' %}

{% block title %}Resident Profile{% endblock %}

{% block content %}

<div class="text">
    <h1> {{ resident.room_number }} - {{ resident.name }} </h1>
    <h4 class="text-left">
        History
        <span style="float:right">
            Balance: {{ resident.balance }}
        </span>
    </h4>

</div>

<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Date</th>
        <th>Event</th>
    </tr>
    </thead>
    <tbody>
    {% for date, event in history %}
    <tr>
        <td>{{ date }}</td>
        <td>{{ event }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}