.root-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.content-of-pages {
  margin-left: 200px;
  padding: 20px;
  display: block;
  /* width: 100%; */
}