.root-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap; 
}

.content-of-pages {
  padding: 40px;
  display: block;
  flex-grow: 1;
}